body{
    margin: 0px;
    padding: 0px;
    font-family: 'EB Garamond', serif;
}

.page-header{
background-color: rgb(151, 159, 159);
display: grid;
grid-template-columns: 15% 70%;
box-shadow: 1px 10px 20px black;
opacity: 0.4;
}
.page-header:hover{
    opacity: 1;
}

.logo{
background-color: rgb(134, 133, 133);
display: flex;
justify-content: center;
align-items: center;
}
.logo > a{
    text-decoration:  none;
    color: black;
    font-size: 18px;
}

ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    display: inline;
}
li > a{
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    font-weight: 600;
    color:rgb(23, 23, 20);
}
li > a:hover{
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 0, 0); 
    text-shadow: 8px 10px 15px black;
}

tr, td,th {
    border: 2px solid rgb(147, 147, 147);
    padding: 5px;
    border-radius: 8px;
}
table{
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    }

.forums{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 5%;
    column-gap: 10px;
}
.form{
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
}
.form input{
    background-color: rgb(151, 159, 159);
    border: 0px;
    padding: 5px;
    margin: 3px;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: 700;
}.form input:hover{
    background-color: beige;
    color: black;
}
.overzicht {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 



